.cart-container {
  width: 100%;
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.cart-table th,
.cart-table td {
  padding: 12px;
  border-bottom: 1px solid #eee;
  font-weight: 100;
  font-size: 14px;
  text-transform: uppercase;
}

.cart-table button {
  padding: 5px 10px;
  background-color: #ff4444;
  color: #fff;
  border: none;
  cursor: pointer;
}

.cart-table button:hover {
  background-color: #ff2222;
}

.total-row .total-label {
  text-align: right;
  font-weight: lighter;
  padding-right: 10px;
}

.total-row .total-amount {
  font-weight: lighter;
  text-align: right;
}
.product-im {
  height: 10px;
  margin-right: 10px;
  width: 10px;
}

.cart-brand {
  color: #ff2222;
}
.cart-product-content {
  flex: 1 1;
  font-size: 12px;
  line-height: 19px;
  color: #333;
}
.cart-product-content h4 a {
  color: #333;
  margin-bottom: 0px;
  padding-bottom: 0px;
  text-decoration: none;
}

.cart-table th,
.cart-table td,
.subtotal {
  padding: 12px;
  border-bottom: 1px solid #eee;
  font-weight: 100;
  font-size: 14px;
  text-transform: uppercase;
}
