.not-found-container {
  margin: 60px auto 40px auto;
  max-width: 1200px;
  padding: 3rem 0;
  width: 100%;
}
@media screen and (max-width: 1199px) {
  .not-found-container {
    padding: 2rem 10px;
  }
}
.path {
  color: crimson;
  border-bottom: 1px solid crimson;
}
.desc {
  margin-top: 30px;
}
